<div class="w-full">

<h1>Events</h1>

<%= turbo_stream_from "events_broadcaster" %>

<%= link_to 'New Event', new_event_path %>
  <div id="events" class="min-w-full">
    <%#= render @events %>
  </div>
  <details data-turbo-permanent>
  <summary>Details</summary>
  Something small enough to escape casual notice.
  </details>
<div id="events_list">
  <%= render 'table' %>
</div>
</div>
